* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html{
  --color-primary: #9fd9aa;
  --color-bg: #fdf9e3;
  --edge-spacing: 1.5rem;
  --transition: all 0.5s ease;
  --heading-primary-size: 4.6875em;
  --heading-primary-size-side-nav-mob: 1.5625rem;
  --work-description-width: 14rem;

  font-family: neuzeit-grotesk, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: var(--color-primary);
  background: var(--color-bg);
}

@media screen and (max-width: 340px) {
  html{
    --edge-spacing: 0.75rem;
  }
}

body {
}

img{
  max-width: 100%;
}

/* ==== TEXT ==== */
h1,h2,h3,h4,h5,h6,p,ul,ol{
  margin-bottom: 1rem;
}
p {
  line-height: 1.4;
}
a {
  color: var(--color-primary);
  text-decoration: none;
  outline: none;
  transition: var(--transition);
}
a:hover {
  opacity: 0.65 !important;
}
.heading-primary {
  text-transform: uppercase;
  font-weight: bold;
  font-size: var(--heading-primary-size);
  line-height: 0.70;
  margin-bottom: 0;
}
.heading-secondary{
  font-size: 1.25rem;
  text-transform: uppercase;
  font-weight: bold;
}

/* ==== MAIN ELEMENTS ==== */

#container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
  align-items: center;
  position: relative;
}
#header {
  position: fixed;
  z-index: 5;
  top: 0;
  left:0;
  padding-top: var(--edge-spacing);
  width:100%;
  text-align: center;
}
#content {
  flex-direction: column;
  display: flex;
  width: 100%;
}
#footer {
  position: fixed;
  bottom: 0;
  left:0;
  padding-bottom: var(--edge-spacing);
  width:100%;
  text-align:center;
}


/* ==== SPECIAL PAGE BITS ==== */

.page-background {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.page-background img {
  max-width: 90vw;
  max-height: 90vh;
  opacity: 0.15;
}

.name{
  position: fixed;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.6875rem;
  z-index: 10;
}
#left-top-name {
  writing-mode: vertical-rl;
  top: var(--edge-spacing);
  left: var(--edge-spacing);
}
#right-top-name {
  top: var(--edge-spacing);
  right: var(--edge-spacing);
  transform: rotate(180deg);
}
#left-bottom-name {
  bottom: var(--edge-spacing);
  left: var(--edge-spacing);
}
#right-bottom-name {
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  bottom: var(--edge-spacing);
  right: var(--edge-spacing);
}
@media screen and (max-width: 667px) {
  #right-top-name {
    writing-mode: vertical-lr;
  }
  #left-bottom-name {
    writing-mode: vertical-lr;
    transform: rotate(180deg);
  }
  #right-bottom-name {
    transform: rotate(0deg);
  }
}

.email {
  text-transform: uppercase;
  font-weight: bold;
}
@media screen and (max-height: 400px) {
  .email{
    font-size: 0.6875rem;
  }
}
#left-email,
#right-email {
  writing-mode: vertical-rl;
  text-align: center;
  margin-left: var(--edge-spacing);
  margin-right: var(--edge-spacing);
}
#right-email {
  transform: rotate(180deg);
}


.side-nav {
  writing-mode: vertical-rl;
  padding-right: var(--edge-spacing);
}
.side-nav .heading-primary {
  display: inline-block;
}

@media screen and (max-width: 667px) {
  .side-nav .heading-primary{
    font-size: var(--heading-primary-size-side-nav-mob);
  }
}
.side-nav .side-nav__about{
  transform: rotate(180deg);
}
.side-nav .side-nav__about a{
  opacity: 0.25;
}


/* ==== Home page ==== */

.page-home #content {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  justify-content: space-between;
}

/* ==== Work page ==== */

.page-work #footer{
  position:relative;
}

.page-work #key {
  margin-top: 15vh;
  padding-top: 5rem;
  margin-left: var(--edge-spacing);
  transform: translate(-1rem);
}
.page-work #key li {
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  font-weight: bold;
}
.page-work #key svg {
  width: 7.5rem;
  height: 1.25rem;
}

.work-items{
  padding-bottom: 50vh;
}
.work-item {
}
  .work-item a{
    display:block;
    /* transform: translate(-50%,0); */
    width:200px;
    height:auto;
    transition: var(--transition);
  }

@media screen and (max-width: 667px) {

  .page-work #right-bottom-name {
    display: none;
  }
  
  .page-work #left-bottom-name {
    display: none;
  }
  
  .page-work #key {
    margin-top: 20vh;
    transform: translate(0);
    padding-top: 0;
    margin-bottom: 5vh;
    position: static;
    margin-left: auto;
    margin-right: auto;
  }
  
  .page-work #key li {
    margin: 15px;
    padding-bottom: 4px;
    height: 20px;
    display: flex;
  }
  
  .page-work #key svg {
    width: 80px;
    height: 20px;
    align-self: center;
  }
}

/* ==== WORK SINGLE PAGES ==== */

.page-work-single #right-top-name,
.page-work-single #left-bottom-name,
.page-work-single #right-bottom-name{
  display:none;
}

.work-details {
  padding: 0 var(--edge-spacing);
  text-align: center;
  z-index: 0;
}
.work-description {
  margin: 2rem auto 4rem;
  max-width:100%;
  width: calc(var(--work-description-width));
}

.page-work-single .section{
  position: relative;
  z-index: 1;
}

.section {
  padding-left: calc(var(--edge-spacing) + var(--heading-primary-size-side-nav-mob) + 1rem);
  padding-right: calc(var(--edge-spacing) + var(--heading-primary-size-side-nav-mob) + 1rem);
}

.section--hero {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
}
.section--hero-peek-style{
  align-items: flex-start;
  padding-top: 70vh;
  min-height: 0;
}

.section--min-height-screen{
  min-height: 100vh;
}
.section--full-bleed {
  padding-left: 0;
  padding-right: 0;
}

.page-work-single #footer {
  position: static;
  margin-top: 50vh;
}

/* for small only */
@media screen and (max-width: 667px) {
  .section--hero{
    min-height: 100vh !important;
    padding-top: 15vh;
    padding-bottom: 15vh;
  }
  .section--hero-peek-style {
    /* padding-top: 15vh; */
  }

  .section--hero-rotate-left-for-mobile img{
    transform: rotate(-90deg);
    max-width: 130%; /* this makes a naturally landscape image fill a bit more of the screen when rotated for mobile, as otherwise css keeps it constrained by it's 'natural' landscape size */
  }

  .section--hero-rotate-right-for-mobile img{
    transform: rotate(90deg);
    max-width: 130%; /* this makes a naturally landscape image fill a bit more of the screen when rotated for mobile, as otherwise css keeps it constrained by it's 'natural' landscape size */
  }

  .section--3up {
    margin-top: 8rem;
  }
  .section--3up img + img{
    margin-top: calc(var(--edge-spacing) + var(--heading-primary-size-side-nav-mob) + 1rem);
  }

  .page-work-single #footer .heading-secondary{
    font-size: 1rem;
  }
  .page-work-single #footer p{
    font-size: 0.625rem;
  }
}

/* for large only */
@media screen and (min-width: 668px) {
  .work-details {
    position: fixed;
    top: 25vh;
    left: 0;
    width: 24rem;
    max-width:100%;
    text-align: left;
  }
  .work-description{
    margin-left: 0;
  }

  .section--hero-pad {
    padding-left: calc(var(--edge-spacing) + var(--work-description-width));
    padding-right: calc(var(--edge-spacing) + var(--work-description-width));
  }

  .section--hero-pad-pull-right {
    padding-left: calc(var(--edge-spacing) + var(--work-description-width) + 2rem);
    padding-right: calc(var(--edge-spacing) + var(--heading-primary-size) + 2rem);
    justify-content: right;
  }

  .section--3up {
    display: flex;
    align-items: center;
    width: 100%;
    padding-left: 0;
    padding-right: 0;
  }
  .section--3up > img {
    width: 33.33333%;
    flex-shrink: 1;
    flex-grow: 0;
  }
  .section--3up > img:nth-child(1) {
    width: 36%;
  }
  .section--3up > img:nth-child(2) {
    margin-top: 10vh;
    width: 32%;
    transform: scale(1.1) translate(-0.5rem,0);
  }
  .section--3up > img:nth-child(3) {
    margin-top: 4vh;
    width: 32%;
  }
}

/* ==== ABOUT PAGE ==== */

.page-about #footer li {
  font-size: large;
  text-transform: uppercase;
  font-weight: bold;
}

.page-about #footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows:
    [detail] 1fr
    [headers] 100px;
  align-content: end;
  grid-auto-flow: column;
  min-height: 50vh;
  margin-right: 20px;
  margin-left: 20px;
}

.page-about #footer .services {
  text-align: left;
}
.page-about #footer .about {
  text-align: center;
}

.page-about #footer .contact {
  text-align: right;
}

@media screen and (max-width: 1000px) {
  .page-about #header {
    position: static;
  }
  .page-about #footer {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-auto-flow: row;
    justify-content: center;
    position: static;
    align-content: start;
  }
  .page-about #footer .contact {
    text-align: center;
  }
  .page-about #footer .about {
    text-align: center;
  }
  .page-about #footer .services {
    text-align: center;
  }
}

.page-about #footer div > p,
.page-about #footer li {
  margin-top: 40px;
  margin-bottom: 40px;
}
