body {
  background: #fdf9e3;
  color: #9fd9aa;
  font-family: neuzeit-grotesk;
}
a {
  color: #9fd9aa;
  text-decoration: none;
}
#container {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 100vh;
  min-width: 420px;
}
#header {
  position: fixed;
  width: 100%;
  min-width: 420px;
}
#footer {
  position: fixed;
  width: 100%;
  bottom: 0;
  min-width: 420px;
}

#header h2,
#footer h2 {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
}
.home #content {
  margin: 20px;
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
  align-items: center;
}

#home-image img {
  max-width: 100%;
  opacity: 0.15;
  pointer-events: none;
}

#left-top-name {
  writing-mode: vertical-rl;
  position: absolute;
  margin-top: 20px;
  margin-left: 20px;
  text-transform: uppercase;
  position: absolute;
  top: 4px;
  left: 0;
}
#right-top-name {
  position: absolute;
  right: 1vw;
  top: 0;
  margin-top: 20px;
  margin-right: 20px;
  text-transform: uppercase;
  transform: rotate(180deg);
}
#right-bottom-name {
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  right: 1vw;
  margin-bottom: 20px;
  margin-right: 20px;
  bottom: 4px;
  position: absolute;
}
#left-bottom-name {
  margin-bottom: 20px;
  margin-left: 20px;
  bottom: 0px;
  position: absolute;
}
#left-email,
#right-email {
  writing-mode: vertical-rl;
  text-align: center;
  margin-left: 20px;
  margin-right: 20px;
  opacity: 1;
}
#right-email {
  transform: rotate(180deg);
}
.email,
.name {
  color: #9fd9aa;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
}

.heading {
  /* font-size: 40px; */
  font: normal normal bold 75px/105px neuzeit-grotesk;
  letter-spacing: 0px;
}

.heading a {
  text-decoration: none;
}

/*  Work page */
#key {
  position: fixed;
  top: 20vh;
  margin: 20px;
  text-transform: uppercase;
}
#key li {
  margin-bottom: 15px;
  padding-bottom: 4px;
  height: 20px;
  display: flex;
}
#key svg {
  width: 60px;
  height: 20px;
  align-self: center;
}
#key span {
  align-self: center;
  font-weight: bold;
}
