* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html{
  --color-primary: #9fd9aa;
  --color-bg: #fdf9e3;
  --edge-spacing: 1.5rem;
  --transition: all 0.5s ease;
  --heading-primary-size: 4.6875em;
  --heading-primary-size-side-nav-mob: 1.5625rem;
  --work-description-width: 14rem;

  font-family: neuzeit-grotesk, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: var(--color-primary);
  background: var(--color-bg);
}

@media screen and (max-width: 340px) {
  html{
    --edge-spacing: 0.75rem;
  }
}

body {
}

img{
  max-width: 100%;
}

.hide {
  display: none;
}
@media screen and (max-width: 667px) {
  .hide--for-mobile {
    display: none;
  }
}
@media screen and (min-width: 668px) {
  .hide--for-large {
    display: none;
  }
}

.row {
  display: flex;
  justify-content: center;
}
.row > * {
  flex-shrink: 1;
}
.column {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (max-width: 667px) {
  .column--for-mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.image-wrapper--pad {
  padding: 2vw;
}
.image-wrapper--pad-2x {
  padding: 4vw;
}
.image-wrapper--pad-4x {
  padding: 8vw;
}

/* ==== TEXT ==== */

h1,h2,h3,h4,h5,h6,p,ul,ol{
  margin-bottom: 1rem;
}
p {
  line-height: 1.4;
}
a {
  color: var(--color-primary);
  text-decoration: none;
  outline: none;
  transition: var(--transition);
}
a:hover {
  opacity: 0.65 !important;
}
.heading-primary {
  text-transform: uppercase;
  font-weight: bold;
  font-size: var(--heading-primary-size);
  line-height: 0.70;
  margin-bottom: 0;
}
.heading-secondary{
  font-size: 1.25rem;
  text-transform: uppercase;
  font-weight: bold;
}

/* ==== MAIN ELEMENTS ==== */

#container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
  align-items: center;
  position: relative;
}
#header {
  position: fixed;
  z-index: 5;
  top: 0;
  left:0;
  padding-top: var(--edge-spacing);
  width:100%;
  text-align: center;
}
#content {
  flex-direction: column;
  display: flex;
  width: 100%;
}
#footer {
  position: fixed;
  bottom: 0;
  left:0;
  margin-bottom: var(--edge-spacing);
  width:100%;
  text-align:center;
}
#footer > *:last-child{
  margin-bottom: 0;
}


/* ==== SPECIAL PAGE BITS ==== */

.page-background {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.page-background img {
  max-width: 90vw;
  max-height: 90vh;
  opacity: 0.15;
}

.name{
  position: fixed;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.6875rem;
  z-index: 10;
}
#left-top-name {
  writing-mode: vertical-rl;
  top: var(--edge-spacing);
  left: var(--edge-spacing);
}
#right-top-name {
  top: var(--edge-spacing);
  right: var(--edge-spacing);
  transform: rotate(180deg);
}
#left-bottom-name {
  bottom: var(--edge-spacing);
  left: var(--edge-spacing);
}
#right-bottom-name {
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  bottom: var(--edge-spacing);
  right: var(--edge-spacing);
}
@media screen and (max-width: 667px) {
  #right-top-name {
    writing-mode: vertical-lr;
  }
  #left-bottom-name {
    writing-mode: vertical-lr;
    transform: rotate(180deg);
  }
  #right-bottom-name {
    transform: rotate(0deg);
  }
}

.email {
  text-transform: uppercase;
  font-weight: bold;
}
@media screen and (max-height: 400px) {
  .email{
    font-size: 0.6875rem;
  }
}
#left-email,
#right-email {
  writing-mode: vertical-rl;
  text-align: center;
  margin-left: var(--edge-spacing);
  margin-right: var(--edge-spacing);
}
#right-email {
  transform: rotate(180deg);
}


#header.side-nav {
  writing-mode: vertical-rl;
  padding-right: var(--edge-spacing);
  right: 0;
  left: auto;
  width: auto;
}
#header.side-nav .heading-primary {
  display: inline-block;
}

@media screen and (max-width: 667px) {
  .side-nav .heading-primary{
    font-size: var(--heading-primary-size-side-nav-mob);
  }
}
@media screen and (max-height: 580px) {
  .side-nav .heading-primary{
    font-size: var(--heading-primary-size-side-nav-mob);
  }
}
.side-nav .side-nav__about{
  transform: rotate(180deg);
}
.side-nav .side-nav__about a{
  opacity: 0.25;
}


/* ==== Home page ==== */

.page-home #content {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  justify-content: space-between;
}

/* ==== Work page ==== */

.page-work #footer{
  position:relative;
}

.page-work #key {
  margin-top: 15vh;
  padding-top: 5rem;
  margin-left: var(--edge-spacing);
  transform: translate(-1rem);
}
.page-work #key li {
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  font-weight: bold;
}
.page-work #key svg {
  width: 7.5rem;
  height: 1.25rem;
}

.work-items{
  padding-bottom: 50vh;
}
.work-item {
}
  .work-item a{
    display:block;
    /* transform: translate(-50%,0); */
    width:200px;
    height:auto;
    transition: var(--transition);
  }

@media screen and (max-width: 667px) {

  .page-work #right-bottom-name {
    display: none;
  }
  
  .page-work #left-bottom-name {
    display: none;
  }
  
  .page-work #key {
    margin-top: 20vh;
    transform: translate(0);
    padding-top: 0;
    margin-bottom: 5vh;
    position: static;
    margin-left: auto;
    margin-right: auto;
  }
  
  .page-work #key li {
    margin: 15px;
    padding-bottom: 4px;
    height: 20px;
    display: flex;
  }
  
  .page-work #key svg {
    width: 80px;
    height: 20px;
    align-self: center;
  }
}

/* ==== WORK SINGLE PAGES ==== */

.page-work-single #right-top-name,
.page-work-single #left-bottom-name,
.page-work-single #right-bottom-name{
  display:none;
}

.work-details {
  padding: 0 var(--edge-spacing);
  text-align: center;
  z-index: 1;
}
.work-description {
  margin: 2rem auto 4rem;
  max-width:100%;
  width: calc(var(--work-description-width));
}

.work-section{
  position: relative;
  z-index: 2;
  padding-left: calc(var(--edge-spacing) + var(--heading-primary-size-side-nav-mob) + 1rem);
  padding-right: calc(var(--edge-spacing) + var(--heading-primary-size-side-nav-mob) + 1rem);
  display: flex;
  justify-content: center;
  align-items: center;
}
.work-section img{
  display: inline-block;
}

/* HERO */
.work-section--hero {
  min-height: 80vh;
}
@media screen and (max-width: 667px) {
  .work-section--hero{
    min-height: 100vh !important;
    padding-top: 15vh;
    padding-bottom: 15vh;
  }
}

/* HERO MODIFIERS */
.work-section--behind-description{
  z-index: 0;
}
@media screen and (max-width: 667px) {
  .work-section--hero-rotate-left-for-mobile img{
    transform: rotate(-90deg);
    max-width: 130%; /* this makes a naturally landscape image fill a bit more of the screen when rotated for mobile, as otherwise css keeps it constrained by it's 'natural' landscape size */
  }
  .work-section--hero-rotate-right-for-mobile img{
    transform: rotate(90deg);
    max-width: 130%; /* this makes a naturally landscape image fill a bit more of the screen when rotated for mobile, as otherwise css keeps it constrained by it's 'natural' landscape size */
  }
}
@media screen and (min-width: 668px) {
  .work-section--hero-pad--and-center-for-large {
    padding-left: calc(var(--edge-spacing) + var(--work-description-width));
    padding-right: calc(var(--edge-spacing) + var(--work-description-width));
    padding-top: 15vh;
    padding-bottom: 15vh;
  }
}
@media screen and (min-width: 668px) {
  .work-section--hero-pad-and-pull-right-for-large {
    padding-left: calc(var(--edge-spacing) + var(--work-description-width) + 2rem);
    padding-right: calc(var(--edge-spacing) + var(--heading-primary-size) + 2rem);
    justify-content: right;
  }
}
@media screen and (min-width: 668px) {
  .work-section--hero-pad-and-pull-left-for-large {
    padding-left: calc(var(--edge-spacing) + var(--work-description-width) + 2rem);
    padding-right: calc(var(--edge-spacing) + var(--heading-primary-size) + 2rem);
    justify-content: left;
  }
}

/* HERO PEEK STYLE */
.work-section--hero-peek-style{
  align-items: flex-start;
  padding-top: 70vh;
  min-height: 0;
}
@media screen and (max-width: 667px) {
  .work-section--hero-peek-style {
    /* padding-top: 15vh; */
  }
}

/* WORK SECTION - IMAGE ROW */
.work-section--image-row {
  display:flex;
}
.work-section--image-row img{
  min-width: 0;
  min-height: 0;
}
@media screen and (max-width: 667px) {
  .work-section--image-row {
    margin-top: 8rem;
    flex-direction: column;
    justify-content: center;
  }
  .work-section--image-row img {
    margin-top: 0 !important;
    width: auto !important;
    transform: none !important;
  }
  .work-section--image-row img + img{
    margin-top: calc(var(--edge-spacing) + var(--heading-primary-size-side-nav-mob) + 1rem) !important;
  }
}
@media screen and (min-width: 668px) {
  .work-section--image-row {
    align-items: center;
    width: 100%;
    padding-left: 0;
    padding-right: 0;
    overflow-x: hidden;
  }
  .work-section--image-row > img {
    flex-shrink: 1;
    flex-grow: 0;
  }
}

/* WORK SECTION RAMBLING IMAGES */
.work-section--rambling-images{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: initial;
}
.work-section--rambling-images .image-wrapper{
  margin: auto;
}

@media screen and (max-width: 667px) {
  .work-section--rambling-images .image-wrapper {
    margin-left: 0 !important;
    margin-right: 0 !important;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
  }
  .work-section--rambling-images img {
    width: auto !important;
  }
}

/* WORK SECTION MODIFIERS */
.work-section--min-height-screen {
  min-height: 100vh;
}
@media screen and (max-width: 667px) {
  .work-section--min-height-screen-50-for-mobile {
    min-height: 50vh;
  }
  .work-section--min-height-screen-80-for-mobile {
    min-height: 80vh;
  }
}
.work-section--full-bleed {
  padding-left: 0;
  padding-right: 0;
}
.work-section--pad-top-and-bottom{
  padding-top: 25vh;
  padding-bottom: 25vh;
}



.page-work-single #footer {
  position: static;
  margin-top: 20vh;
  padding-left: 2rem;
  padding-right: 2rem;
}
.page-work-single #footer.extra-margin {
  margin-top: 70vh;
}
.page-work-single #footer.extra-margin--small {
  margin-top: 50vh;
}

@media screen and (max-width: 667px) {
  .page-work-single #footer .heading-secondary{
    font-size: 1rem;
  }
  .page-work-single #footer p{
    font-size: 0.625rem;
  }
}

@media screen and (min-width: 668px) {
  .work-details {
    position: fixed;
    /* top: 25vh; */
    margin-top: 15vh;
    padding-top: 5rem;
    left: 0;
    width: 24rem;
    max-width:100%;
    text-align: left;
  }
  .work-description{
    margin-left: 0;
  }
}




/* for wide but short */
@media screen and (min-width: 668px) and (max-height: 580px) {
  .work-details {
    overflow: auto;
    max-height: 60vh;
  }
}


.work-nav__item {
  position:fixed;
  bottom: var(--edge-spacing);
  z-index: 15;
  width: 1.3rem;
  height: 2.5rem;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
/* .work-nav__item:disabled{

} */
.work-nav__item--prev {
  left: var(--edge-spacing);
  background-image: url("/assets/home_other/arrow-left.svg");
}
.work-nav__item--next {
  right: var(--edge-spacing);
  background-image: url("/assets/home_other/arrow-right.svg");
}



/* ==== ABOUT PAGE ==== */

.page-about #left-bottom-name,
.page-about #right-bottom-name {
  display:none;
}

.page-about #footer {
  display:none;
}

.about-sections {
  display: flex;
  text-align: center;
  flex-direction: column;
  width: 100%;
}
.about-section {
  min-height: 100vh;
  padding: var(--edge-spacing);
  flex-grow: 1;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.about-section .heading-primary {
  margin-top: 3rem;
}
.about-section .heading-secondary{
  border-bottom: 2px solid;
  display: inline-block;
  width: 13em;
  max-width: 100%;
}
.about-section p {
  margin-bottom: 1.4rem;
}

.about-section li:not(:first-child) .heading-secondary{
  margin-top: 3rem;
}

.about-service-content {
  display: none;
}
.about-service.is-active .about-service-content {
  display: block;
}
.about-service-content {
  margin-top: 3rem;
}
.about-service-content *:last-child {
  margin-bottom: 0;
}

@media screen and (max-width: 360px) {
  .about-sections .heading-primary{
    font-size: 3.5rem;
  }
}
@media screen and (max-width: 667px) {
  .about-section {
    scroll-snap-align: start;
  }
  
  .about-section .heading-secondary {
    width: 19rem;
  }
  
  .about-service {
    width: 19rem;
    max-width: 100%;
    margin: 0 auto;
  }
}
/* if screen is tall enough, use snap to screen to get nice sectioned areas. just be wary of content overflowing! */
@media screen and (max-width: 667px) and (min-height: 580px) {
  .about-sections {
    scroll-snap-type: y mandatory;
    scroll-snap-destination: 0% 100%;
    scroll-snap-points-y: repeat(100%);
    height: 100vh;
    overflow: scroll;
  }
}

@media screen and (min-width: 668px) and (max-width: 799px) {
  .about-sections .heading-secondary{
    font-size: 0.85rem;
    width: 100%;
  }
  .about-sections .heading-primary{
    font-size: 2.4rem;
  }
}
@media screen and (min-width: 800px) and (max-width: 959px) {
  .about-sections .heading-secondary{
    font-size: 1rem;
  }
  .about-sections .heading-primary{
    font-size: 3rem;
  }
  .about-section p {
    margin-bottom: 1.25rem;
  }
}
@media screen and (min-width: 960px) and (max-width: 1140px) {
  .about-sections .heading-primary{
    font-size: 3.4rem;
  }
}

/* for large only */
@media screen and (min-width: 668px) {
  .about-sections{
    flex-direction: row;
  }
  .about-section{
    flex-basis: 33.33%;
  }
  .about-section--services {
    text-align: left;
    order: 1;
  }
  .about-section--about {
    order: 2;
  }
  .about-section--contact {
    text-align: right;
    order: 3;
  }
}
