* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background: #fdf9e3;
  color: #9fd9aa;
  font-family: neuzeit-grotesk;
}
a {
  color: #9fd9aa;
  text-decoration: none;
}
#container {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 100vh;
  min-width: 420px;
  align-items: center;
}
#header {
  position: fixed;
  display: grid;
  grid-template-columns: 2fr 1fr 2fr;
  width: 100vw;
}
#footer {
  position: fixed;
  display: grid;
  grid-template-columns: 2fr 1fr 2fr;
  bottom: 0;
}

#footer .heading {
  align-self: end;
}

#header h2,
#footer h2 {
  text-transform: uppercase;
  font-weight: bold;
}

body.work #footer {
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
  width: 100vw;
}

body.home #content {
  flex-grow: 1;
  min-height: 500px;
  display: grid;
  grid-template-columns: 1fr 10fr 1fr;
}

#home-image {
  align-self: center;
}

#home-image img {
  width: 100%;
  opacity: 0.15;
  pointer-events: none;
}

#left-top-name {
  writing-mode: vertical-rl;
  justify-self: start;
  margin-top: 25px;
  margin-left: 20px;
  text-transform: uppercase;
}
#right-top-name {
  margin-top: 25px;
  margin-right: 20px;
  text-transform: uppercase;
  transform: rotate(180deg);
  align-self: start;
}
#left-bottom-name {
  margin-bottom: 25px;
  margin-left: 20px;
  align-self: end;
}
#right-bottom-name {
  justify-self: end;
  align-self: start;
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  margin-bottom: 25px;
  margin-right: 20px;
}

#left-email,
#right-email {
  justify-self: start;
  writing-mode: vertical-rl;
  text-align: center;
  margin-left: 20px;
  margin-right: 20px;
  opacity: 1;
}
#right-email {
  transform: rotate(180deg);
  justify-self: end;
}

.email,
.name {
  color: #9fd9aa;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: bold;
}

.heading {
  font: normal normal bold 75px/105px neuzeit-grotesk;
  letter-spacing: 0px;
}

.heading a {
  text-decoration: none;
}

/*  Work page */
#key {
  position: fixed;
  top: 20vh;
  margin: 20px;
  text-transform: uppercase;
}
#key li {
  margin-bottom: 15px;
  padding-bottom: 4px;
  height: 20px;
  display: flex;
}
#key svg {
  width: 120px;
  height: 20px;
  align-self: center;
}
#key span {
  align-self: center;
  font-weight: bold;
}

body.work-feature #description {
  margin-top: 25vh;
  margin-left: 24px;
  width: 200px;
  position: fixed;
}

body.work-feature #description h3 {
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 30px;
}

body.work-feature #description #about {
  font-size: 18px;
  line-height: 1.5;
}

body.work-feature .heading {
  font-size: 65px;
}

body.work-feature #work {
  margin: 0;
  padding: 0;
  position: absolute;
  transform: matrix(0, 1, -1, 0, 0, 0);
  right: 0;
  top: 70px;
}

body.work-feature #header #about {
  margin: 0;
  padding: 0;
  position: absolute;
  transform: matrix(0, -1, 1, 0, 0, 0);
  right: -12;
  top: 265px;
  opacity: 0.25;
}

body.work-feature .main {
  margin-left: 30vw;
  margin-top: 10vh;
}
body.work-feature .images img {
  max-width: 100vw;
}

body.about #footer li {
  font-size: large;
  text-transform: uppercase;
  font-weight: bold;
}

body.about #footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows:
    [detail] 1fr
    [headers] 100px;
  align-content: end;
  grid-auto-flow: column;
  min-height: 50vh;
  margin-right: 20px;
  margin-left: 20px;
}

body.about #footer .services {
  text-align: left;
}
body.about #footer .about {
  text-align: center;
}

body.about #footer .contact {
  text-align: right;
}

@media screen and (max-width: 1000px) {
  body.about #header {
    position: static;
  }
  body.about #footer {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-auto-flow: row;
    justify-content: center;
    position: static;
    align-content: start;
  }
  body.about #footer .contact {
    text-align: center;
  }
  body.about #footer .about {
    text-align: center;
  }
  body.about #footer .services {
    text-align: center;
  }
}

body.about #footer div > p,
li {
  margin-top: 40px;
  margin-bottom: 40px;
}
