* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html{
  --color-primary: #9fd9aa;
  --color-bg: #fdf9e3;
  --edge-spacing: 1.5rem;

  font-family: neuzeit-grotesk, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: var(--color-primary);
  background: var(--color-bg);
}

@media screen and (max-width: 340px) {
  html{
    --edge-spacing: 0.75rem;
  }
}

body {
}

/* ==== TEXT ==== */
a {
  color: var(--color-primary);
  text-decoration: none;
}
.heading-primary {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 4.6875em;
  line-height: 0.70;
}
.heading-secondary{
  font-size: 1.25rem;
}

/* ==== MAIN ELEMENTS ==== */

#container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
  align-items: center;
  position: relative;
}
#header {
  position: fixed;
  top: 0;
  left:0;
  padding-top: var(--edge-spacing);
  width:100%;
  text-align: center;
}
#content {
  flex-direction: column;
  display: flex;
  width: 100%;
}
#footer {
  position: fixed;
  bottom: 0;
  left:0;
  padding-bottom: var(--edge-spacing);
  width:100%;
  text-align:center;
}


/* ==== SPECIAL PAGE BITS ==== */

.page-background {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.page-background img {
  max-width: 90vw;
  max-height: 90vh;
  opacity: 0.15;
}

.name{
  position: fixed;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.6875rem;
  z-index: 5;
}
#left-top-name {
  writing-mode: vertical-rl;
  top: var(--edge-spacing);
  left: var(--edge-spacing);
}
#right-top-name {
  top: var(--edge-spacing);
  right: var(--edge-spacing);
  transform: rotate(180deg);
}
#left-bottom-name {
  bottom: var(--edge-spacing);
  left: var(--edge-spacing);
}
#right-bottom-name {
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  bottom: var(--edge-spacing);
  right: var(--edge-spacing);
}
@media screen and (max-width: 667px) {
  #right-top-name {
    writing-mode: vertical-lr;
  }
  #left-bottom-name {
    writing-mode: vertical-lr;
    transform: rotate(180deg);
  }
  #right-bottom-name {
    transform: rotate(0deg);
  }
}

.email {
  text-transform: uppercase;
  font-weight: bold;
}
@media screen and (max-height: 400px) {
  .email{
    font-size: 0.6875rem;
  }
}
#left-email,
#right-email {
  writing-mode: vertical-rl;
  text-align: center;
  margin-left: var(--edge-spacing);
  margin-right: var(--edge-spacing);
}
#right-email {
  transform: rotate(180deg);
}


/*  Home page */

.page-home #content {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  justify-content: space-between;
}

/*  Work page */

.page-work #key {
  position: fixed;
  top: 20vh;
  margin-left: var(--edge-spacing);
  transform: translate(-1rem);
}
.page-work #key li {
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  font-weight: bold;
}
.page-work #key svg {
  width: 120px;
  height: 20px;
}

@media screen and (max-width: 667px) {
    
    .page-work #right-bottom-name {
      display: none;
    }
    
    .page-work #left-bottom-name {
      display: none;
    }
    
    .page-work #key {
      position: static;
      margin-top: 10rem;
      flex-direction: column;
      align-items: center;
      margin-left: auto;
      margin-right: auto;
    }
    
    .page-work #key li {
      margin: 15px;
      padding-bottom: 4px;
      height: 20px;
      display: flex;
    }
    
    .page-work #key svg {
      width: 80px;
      height: 20px;
      align-self: center;
    }
}


.page-work-single #description {
  margin-top: 25vh;
  margin-left: 25px;
  width: 200px;
  position: fixed;
}

.page-work-single #description h3 {
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 30px;
}

.page-work-single #description #about {
  font-size: 18px;
  line-height: 1.5;
}

.page-work-single .heading-primary {
  font-size: 65px;
}

.page-work-single #work {
  margin: 0;
  padding: 0;
  position: absolute;
  transform: matrix(0, 1, -1, 0, 0, 0);
  right: 0;
  top: 70px;
}

.page-work-single #header #about {
  margin: 0;
  padding: 0;
  position: absolute;
  transform: matrix(0, -1, 1, 0, 0, 0);
  right: -12;
  top: 265px;
  opacity: 0.25;
}

.page-work-single .main {
  margin-left: 30vw;
  margin-top: 10vh;
}
.page-work-single .images img {
  max-width: 100vw;
}

.page-about #footer li {
  font-size: large;
  text-transform: uppercase;
  font-weight: bold;
}

.page-about #footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows:
    [detail] 1fr
    [headers] 100px;
  align-content: end;
  grid-auto-flow: column;
  min-height: 50vh;
  margin-right: 20px;
  margin-left: 20px;
}

.page-about #footer .services {
  text-align: left;
}
.page-about #footer .about {
  text-align: center;
}

.page-about #footer .contact {
  text-align: right;
}

@media screen and (max-width: 1000px) {
  .page-about #header {
    position: static;
  }
  .page-about #footer {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-auto-flow: row;
    justify-content: center;
    position: static;
    align-content: start;
  }
  .page-about #footer .contact {
    text-align: center;
  }
  .page-about #footer .about {
    text-align: center;
  }
  .page-about #footer .services {
    text-align: center;
  }
}

.page-about #footer div > p,
li {
  margin-top: 40px;
  margin-bottom: 40px;
}
